<%- include header.ejs %>
<h1>Items</h1>
<% results.forEach(function(result) { %>
	<li>
		<a href="/item/<%= result.item %>/?id=<%= result._id %>" data-result-name="<%= result.item %>"><%- result.item %></a>
	</li>
<% }); %>
<%- include footer.ejs %>