<%- include header.ejs %>
<div class="col-md-6 col-md-offset-3">
    <% if(error) { %>
    <div class="alert alert-danger" role="alert">
        <%- error %>
    </div>
    <% } %>
    <% if(success) { %>
    <div class="alert alert-success" role="alert">
        <%- success %>
    </div>
    <% } %>

    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#register">Register</a></li>
        <li><a data-toggle="tab" href="#login">Login</a></li>
    </ul>

    <div class="tab-content">
        <div id="register" class="tab-pane fade in active">
            <form class="form-signin" method="post">
                <h2 class="form-signin-heading">Please sign in</h2>
                <div class="form-group">
                    <label for="email" class="sr-only">Email address</label>
                    <input type="email" id="email" name="email" class="form-control" placeholder="Email address" required
                           autofocus>
                </div>
                <div class="form-group">
                    <label for="username" class="sr-only">Username</label>
                    <input type="text" id="username" name="username" class="form-control" value="<%- (user && user.username) ? user.username : '' %>" required autofocus>
                </div>
                <div class="form-group">
                    <label for="password" class="sr-only">Password</label>
                    <input type="password" id="password" name="password" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="passwordConf" class="sr-only">Password Confirm</label>
                    <input type="password" id="passwordConf" name="passwordConf" class="form-control" required>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="remember-me"> Remember me
                    </label>
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            </form>
        </div>
        <div id="login" class="tab-pane fade">
            <h3>Login</h3>
            <p>Login form?</p>
        </div>
    </div>
</div>

<%- include footer.ejs %>